body {
    background-image: url('images/programa.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(24, 40, 85);
}

nav {
    background-color: rgb(94, 127, 199);
}
